<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>录播课</title>
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%= VERSION %>">
    <link href="<%= STATIC %>css/course/recording_detail.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% let xq_data=results.xq_data,wd_data_list=results.wd_data_list,wd_data_list_num=results.wd_data_list_num %>
    <%- include('../global/head.ejs') %>
    <% console.log(xq_data,"详情数据") %>
    <div class="recording-detail-container">
        <div class="recording-detail-head">
            <h1><%= xq_data.name %></h1>
            <p><%= xq_data.des %></p>
        </div>
        <div class="recording-detail-content">
            <div class="recording-detail-video">
                <div class="video-content">
                    <div class="content-top <%= !xq_data.is_receive ? 'content-top-show' : '' %>">
                        <span>邦友福利视频免费领取，一次领取终身享有！</span>
                        <% if(!wglobals.user.id){ %>
                            <a href="/login" onclick="return referrer_link(this)">立即领取</a>
                        <%} else { %>
                            <a href="javascript:void(0);" onclick="get_class(this)" data-id="<%= xq_data.id %>" data-vip="<%= xq_data.receive_level %>">立即领取</a>
                        <% } %>
                    </div>
                    <div class="content-video">
                        <video width="940" height="530" autoplay controls src="<%= xq_data.video_url %>"></video>
                        <% if(!wglobals.user.id){ %>
                            <a class="<%= !xq_data.video_url ? 'no-url-box' : '' %>" href="/login" onclick="return referrer_link(this)">
                                <img src="https://static.52wmb.com/wmb_course/2023/images/<%= xq_data.video_cover %>" alt="">
                                <i>
                                    <svg t="1683480780660" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3628" id="mx_n_1683480780661" width="80" height="80"><path d="M983.83922 314.392976c-25.674927-60.840585-62.538927-115.387317-109.393171-162.341464-46.854244-46.854244-101.500878-83.718244-162.341464-109.393171-62.938537-26.673951-129.873171-40.16078-198.805853-40.16078S377.531317 15.98439 314.492878 42.658341C253.752195 68.433171 199.105561 105.197268 152.251317 152.151415c-46.854244 46.854244-83.718244 101.500878-109.393171 162.341463-26.673951 62.938537-40.16078 129.873171-40.16078 198.805854s13.486829 135.767415 40.16078 198.805853c25.674927 60.840585 62.538927 115.387317 109.393171 162.341464 46.854244 46.854244 101.500878 83.718244 162.341463 109.393171 62.938537 26.673951 129.873171 40.16078 198.805854 40.16078s135.767415-13.486829 198.805854-40.16078c60.840585-25.674927 115.387317-62.538927 162.341463-109.393171 46.854244-46.854244 83.718244-101.500878 109.393171-162.341464 26.673951-62.938537 40.16078-129.873171 40.16078-198.805853s-13.586732-135.867317-40.260682-198.905756zM736.980293 596.317659L475.53561 742.375024c-15.085268 8.391805-31.469268 12.587707-47.853269 12.587708-17.083317 0-34.166634-4.595512-49.651512-13.586732-30.370341-17.782634-48.452683-49.451707-48.452683-84.617366V364.544c0-35.165659 18.082341-66.834732 48.452683-84.617366 30.370341-17.782634 66.834732-18.182244 97.504781-0.999024l261.444683 146.057366C768.449561 442.567805 787.23122 474.536585 787.23122 510.601366s-18.781659 68.133463-50.250927 85.716293z" fill="#999999" p-id="3629"></path></svg>                            
                                </i>                            
                            </a>
                        <%} else { %>
                            <a class="<%= !xq_data.video_url ? 'no-url-box' : 'no-url-box-display-none' %>" href='javascript:void(0);' onclick="video_yz(this)" data-vip="<%= xq_data.receive_level %>">
                                <img src="https://static.52wmb.com/wmb_course/2023/images/<%= xq_data.video_cover %>" alt="">
                                <i>
                                    <svg t="1683480780660" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3628" id="mx_n_1683480780661" width="80" height="80"><path d="M983.83922 314.392976c-25.674927-60.840585-62.538927-115.387317-109.393171-162.341464-46.854244-46.854244-101.500878-83.718244-162.341464-109.393171-62.938537-26.673951-129.873171-40.16078-198.805853-40.16078S377.531317 15.98439 314.492878 42.658341C253.752195 68.433171 199.105561 105.197268 152.251317 152.151415c-46.854244 46.854244-83.718244 101.500878-109.393171 162.341463-26.673951 62.938537-40.16078 129.873171-40.16078 198.805854s13.486829 135.767415 40.16078 198.805853c25.674927 60.840585 62.538927 115.387317 109.393171 162.341464 46.854244 46.854244 101.500878 83.718244 162.341463 109.393171 62.938537 26.673951 129.873171 40.16078 198.805854 40.16078s135.767415-13.486829 198.805854-40.16078c60.840585-25.674927 115.387317-62.538927 162.341463-109.393171 46.854244-46.854244 83.718244-101.500878 109.393171-162.341464 26.673951-62.938537 40.16078-129.873171 40.16078-198.805853s-13.586732-135.867317-40.260682-198.905756zM736.980293 596.317659L475.53561 742.375024c-15.085268 8.391805-31.469268 12.587707-47.853269 12.587708-17.083317 0-34.166634-4.595512-49.651512-13.586732-30.370341-17.782634-48.452683-49.451707-48.452683-84.617366V364.544c0-35.165659 18.082341-66.834732 48.452683-84.617366 30.370341-17.782634 66.834732-18.182244 97.504781-0.999024l261.444683 146.057366C768.449561 442.567805 787.23122 474.536585 787.23122 510.601366s-18.781659 68.133463-50.250927 85.716293z" fill="#999999" p-id="3629"></path></svg>                            
                                </i>  
                            </a>
                        <% } %>
                    </div>
                    <div class="content-bottom">
                        <img src="https://static.52wmb.com/wmb_course/2023/images/<%= xq_data.lecturer_avatar %>" alt="">
                        <div>
                            <span><%= xq_data.name %></span>
                            <span>讲师：<%= xq_data.lecturer %>(<%= xq_data.lecturer_des %>)</span>
                        </div>
                        <div>
                            <span>
                                <i>
                                    <svg t="1682409358523" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4926" width="16" height="16"><path d="M523.52 598.4C593.28 552.32 640 473.6 640 384c0-141.44-114.56-256-256-256C242.56 128 128 242.56 128 384c0 89.6 46.72 168.32 116.48 214.4C101.76 645.12 0 765.44 0 928 0 945.92 14.08 960 32 960S64 945.92 64 928C64 751.36 207.36 640 384 640c176.64 0 320 111.36 320 288 0 17.92 14.08 32 32 32 17.92 0 32-14.08 32-32C768 765.44 666.24 645.12 523.52 598.4zM384 576C278.4 576 192 489.6 192 384s86.4-192 192-192c105.6 0 192 86.4 192 192S489.6 576 384 576zM804.48 602.24C878.08 556.8 928 476.8 928 384c0-141.44-114.56-256-256-256C654.08 128 640 142.08 640 160 640 177.92 654.08 192 672 192c105.6 0 192 86.4 192 192 0 71.04-38.4 132.48-96 165.76-56.32 34.56-71.68 83.2 0 109.44 111.36 39.68 192 144 192 269.44 0 17.92 14.08 32 32 32 17.92 0 32-14.08 32-32C1024 780.8 933.12 654.72 804.48 602.24z" p-id="4927" fill="#101010"></path></svg>
                                </i>
                                <%= xq_data.reveive_users || 0 %>人已学习
                            </span>
                            <%=  %>
                            <a href="javascript:void(0);" onclick="down_ppt(this)" data-name="<%= xq_data.ppt_file %>" data-id="<%= xq_data.id %>" data-vip="<%= xq_data.receive_level %>"  data-fname="<%= xq_data.name  %>">下载课件PPT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recording-detail-bottom">
                <div class="tabbar" data-id="<%= xq_data.id %>">
                    <span class="active">课程介绍</span>
                    <span>课程提问(<span><%= wd_data_list_num %></span>)</span>
                </div>
                <div class="tw-content">
                    <%- results.content %>
                    <div class="tw-box-list"></div>
                </div>
            </div>
        </div>
    </div>
    <form name="ppt_download" target="_self"></form>
    <iframe name="form" id="ppt_download" style="display:none"></iframe>
    <%- include('../global/foot_script.ejs') %>
    <script src="<%= STATIC %>javascripts/course/recording_detail.js?v=<%=VERSION%>"></script>
</body>
</html>