<% let xq_data=results.xq_data,wd_data_list=results.wd_data_list,wd_data_list_num=results.wd_data_list_num %>    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= xq_data.name %>" />
    <meta name="description" content="<%= xq_data.des %>" />
    <title><%= xq_data.name %>-外贸邦</title>
    <link rel="stylesheet" href="<%= STATIC %>css/default.css?v=<%= VERSION %>">
    <link href="<%= STATIC %>css/course/recording_detail.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../global/head.ejs') %>
    <% console.log(xq_data,"详情数据") %>
    <% let yhtx_img = wglobals.user.photo %>
    <% console.log(yhtx_img,"用户头像") %>
    <div class="recording-detail-container">
        <div class="recording-detail-head">
            <h1>《<%= xq_data.name %>》</h1>
            <p><%= xq_data.des %></p>
        </div>
        <div class="recording-detail-content">
            <div class="recording-detail-video">
                <div class="video-content">
                    <div class="content-top <%= !xq_data.is_receive ? 'content-top-show' : '' %>">
                        <span>课程价:<b>0</b>元</span>
                        <font>外贸邦登陆用户可免费领取，观看、课件PPT下载，领取后可永久性观看...</font>
                        <% if(!wglobals.user.id){ %>
                            <a href="/login" onclick="return referrer_link(this)">立即领取</a>
                        <%} else { %>
                            <a href="javascript:void(0);" onclick="get_class(this)" data-id="<%= xq_data.id %>" data-vip="<%= xq_data.receive_level %>">立即领取</a>
                        <% } %>
                    </div>
                    <div class="content-video">
                        <video width="940" height="530" autoplay controls src="<%= xq_data.video_url %>"></video>
                        <% if(!wglobals.user.id){ %>
                            <a class="<%= !xq_data.video_url ? 'no-url-box' : '' %>" href="/login" onclick="return referrer_link(this)">
                                <img src="https://static.52wmb.com/wmb_course/2023/images/<%= xq_data.video_cover %>" alt="">
                                <i>
                                    <svg t="1683603712649" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1760" width="80" height="80"><path d="M512 42.666667C252.793333 42.666667 42.666667 252.793333 42.666667 512s210.126667 469.333333 469.333333 469.333333 469.333333-210.126667 469.333333-469.333333S771.206667 42.666667 512 42.666667z m196.546667 500.493333l-266.666667 176A37.333333 37.333333 0 0 1 384 688V336.033333a37.333333 37.333333 0 0 1 57.893333-31.16l266.666667 176a37.333333 37.333333 0 0 1 0 62.32z" fill="#5C5C66" p-id="1761"></path></svg>
                                </i>                            
                            </a>
                        <%} else { %>
                            <a class="<%= !xq_data.video_url ? 'no-url-box' : 'no-url-box-display-none' %>" href='javascript:void(0);' onclick="video_yz(this)" data-vip="<%= xq_data.receive_level %>" data-id="<%= xq_data.id %>">
                                <img src="https://static.52wmb.com/wmb_course/2023/images/<%= xq_data.video_cover %>" alt="">
                                <i>
                                    <svg t="1683603712649" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1760" width="80" height="80"><path d="M512 42.666667C252.793333 42.666667 42.666667 252.793333 42.666667 512s210.126667 469.333333 469.333333 469.333333 469.333333-210.126667 469.333333-469.333333S771.206667 42.666667 512 42.666667z m196.546667 500.493333l-266.666667 176A37.333333 37.333333 0 0 1 384 688V336.033333a37.333333 37.333333 0 0 1 57.893333-31.16l266.666667 176a37.333333 37.333333 0 0 1 0 62.32z" fill="#5C5C66" p-id="1761"></path></svg>                        
                                </i>  
                            </a>
                        <% } %>
                    </div>
                    <div class="content-bottom">
                        <img src="https://static.52wmb.com/wmb_course/2023/images/<%= xq_data.lecturer_avatar %>" alt="">
                        <div>
                            <span><%= xq_data.name %></span>
                            <span>讲师：<%= xq_data.lecturer %>(<%= xq_data.lecturer_des %>)</span>
                        </div>
                        <div>
                            <span>
                                <% console.log(xq_data.reveive_users,"领取人数") %>
                                累计<%= xq_data.reveive_users || 0 %>人已学习
                            </span>
                            <% if(!wglobals.user.id){ %>
                                <a  href="/login" onclick="return referrer_link(this)">下载课件PPT</a>
                            <% } else { %>
                                <a href="javascript:void(0);" onclick="down_ppt(this)" data-name="<%= xq_data.ppt_file %>" data-id="<%= xq_data.id %>" data-vip="<%= xq_data.receive_level %>"  data-fname="<%= xq_data.name  %>" data-url="<%= xq_data.video_url %>">下载课件PPT</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recording-detail-bottom">
                <div class="tabbar" data-id="<%= xq_data.id %>">
                    <span class="">课程介绍</span>
                    <!-- <span>课程提问(<span><%= wd_data_list_num %></span>)</span> -->
                </div>
                <div class="tw-content">
                    <%- results.content %>
                    <div class="tw-box-list"></div>
                </div>
            </div>
            <% console.log(wglobals,"当前用户数据") %>
        </div>
    </div>
    <%- include('../global/foot.ejs') %>
    <form name="ppt_download" target="_self"></form>
    <iframe name="form" id="ppt_download" style="display:none"></iframe>
    <script src="<%= STATIC %>javascripts/course/recording_detail.js?v=<%=VERSION%>"></script>
</body>
</html>