<% console.log(results,"侧拉数据ejs") %>
<% let list=results.list,num=results.total%>
<div class='side-box' data-sum="<%= num %>">
    <div class="side-box-head">
        <span>外贸资源</span>
        <span>共计<%= num %>个</span>
    </div>
    <div class="side-box-content">
        <% list.forEach(function(item,index){ %>
            <div class="lb-box" id="xz_lb_box">
                <img src="https://static.52wmb.com/wmb_course/2023/images/<%= item.icon %>" alt="">
                <div class="content">
                    <span><%= item.name %></span>
                    <div>大小：<span><%= (item.size/1024).toFixed(2) %></span>M<font>|</font>格式：<span><%= item.format %><span></div>
                </div>
                <a href="javascript:void(0);" onclick="download_zy(this)" data-id="<%= item.id %>" data-vip="<%= item.download_level %>">下载</a>
            </div>
        <% }) %>
    </div>
    <!-- 分页 -->
    <div class="setPageDiv">
        <div class="Pagination" id="pagination">
        </div>
    </div>
</div>

<!-- 分页 -->
<script>
    $("#pagination").pagination(sum, {
        num_edge_entries: 1,
        num_display_entries: 3,
        items_per_page:8,
        prev_text:"<",
        next_text:">",
        callback: pageselectCallback,
    });
    function pageselectCallback(){
        let num = parseInt($("#pagination span[class='current']").text())
        if(num){
            let end = num * 8
            let start = end - 8
            $.loadajax('/async/get_side', {
                datatype: 'text',
                data: {start:start,end:end},
                success: function (result) {
                    console.log(result,"more")
                    $(".side-box-content").html($(result.content))
                }
            })
        }
    }
</script>