<% console.log(results,"侧拉数据ejs") %>
<% let list=results.list,num=results.total%>
<div class='side-box' data-sum="<%= num %>">
    <div class="side-box-head">
        <span>外贸资源</span>
        <span>共计<%= num %>个</span>
    </div>
    <div class="side-box-content">
        <% list.forEach(function(item,index){ %>
            <div class="lb-box" id="xz_lb_box">
                <img src="<%= STATIC %>images/<%= item.cover %>" alt="">
                <div class="content">
                    <span><%= item.name %></span>
                    <div>大小：<span><%= (item.size/8/1024).toFixed(2) %></span>k<font>|</font>格式：<span><%= item.format %><span></div>
                </div>
                <% if(!wglobals.user.id) {%>
                    <a href="/login">下载</a>
                <% } %>
                <% if(verify_vip_level(wglobals.user.vip_level, 'yd', wglobals.user.experience)){ %>
                    <a href="/async/download_zy/<%= item.id %>">下载</a>
                <% } else { %>
                    <!-- 提示购买黄钻 -->
                <a href="javascript:void(0);" onclick="share_authority_failure('yd')">下载</a>
                <% } %>
            </div>
        <% }) %>
    </div>
    <!-- 分页 -->
    <div class="setPageDiv">
        <div class="Pagination" id="pagination">

        </div>
    </div>
</div>

<!-- 分页 -->
<script>
    let sum=$(".side-box").data("sum")
    $("#pagination").pagination(sum, {
        num_edge_entries: 1,
        num_display_entries: 3,
        items_per_page:5,
        prev_text:"<",
        next_text:">",
        callback: pageselectCallback,
    });

    function pageselectCallback(){
        let num = parseInt($("#pagination span[class='current']").text())
        if(num){
            let end = num * 5
            let start = end - 5
            $.loadajax('/async/get_side', {
                datatype: 'text',
                data: {start:start,end:end},
                success: function (result) {
                    console.log(result,"more")
                    $(".side-box-content").html($(result.content))
                }
            })
        }
    }
</script>