<% let wd_data_list=results.wd_data_list || [],wd_data_list_num=results.wd_data_list_num %>
<div class="tw-box" id="pl_box">
    <div class="right">
        <textarea type="text" placeholder="请输入内容吧..." id="pl_ipt_box"></textarea>
        <div>
            <span>提示：发布的评论需要审核后才能显示</span>
            <a href="javascript:void(0);" onclick="post_pl(this)" data-id="<%= results.id  %>">发布评论</a>
        </div>
    </div>
</div>
<div id="wd_data_lists">
    <% wd_data_list.forEach(function(item,index){ %>
        <div class="tw-box zs-box">
            <img src="" alt="">
            <div class="right">
                <span><%= item.contact %></span>
                <span><%=  DATE_ZH_DAY(new Date(item.create_time)) %></span>
                <p><%= item.content %></p>
            </div>
        </div>
    <% }) %>
</div>
<% if(wd_data_list_num > 10) {%>
    <span class="pl-more" data-id="<%= results.id %>">点击加载更多...</span>
<% } %>
